.row {
    display: flex
}
.col {
    background-color: aquamarine;
    padding: 10px;
    flex: 1;
    margin: 10px;
}
.col-2 {
    background-color: aquamarine;
    padding: 10px;
    flex: 2 1;
    margin: 10px;
    }
.col-3 {
    background-color: aquamarine;
    padding: 10px;
    flex: 3 1;
    margin: 10px;
}
